/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap/theme';

.avatar {
  border: 1px solid #ccc
}

.navbar {
  font-size: 1.8rem;
}

.navbar-header, .navbar-nav li {
  height: 75px;
}

.navbar-brand, .nav li a{
  height: 75px;
  line-height: 75px;
  padding: 0;
  margin: 0 15px;
  text-align: center;
}

.ico {
  width: 65px;
  height: 65px;
}

.ico img {
  width: 65px;
  height: 65px;
}
